<div class="container mt-4">
  <h2>{{textoTitulo}}</h2>

  <div class="alert alert-success my-3" role="alert" *ngIf="mensaje">
    {{mensaje}}
  </div>

  <form [formGroup]="clientesForm" (ngSubmit)="enviarDatos()">

    <!--Pedimos el nombre-->
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre:</label>
      <input [(ngModel)]="clientes.nombre" type="text" class="form-control" id="nombre" formControlName="nombre"
        required>
    </div>
    <!--Pedimo el telefono-->
    <div class="mb-3">
      <label for="telefono" class="form-label">Telefono:</label>
      <input [(ngModel)]="clientes.telefono" type="tel" class="form-control" id="telefono" formControlName="telefono"
        required>
    </div>
    <!--Pedimos el email-->
    <div class="mb-3">
      <label for="email" class="form-label">Email:</label>
      <input [(ngModel)]="clientes.email" type="email" class="form-control" id="email" formControlName="email" required>
    </div>
    <!--Pedimo el correo electronico-->
    <div class="mb-3">
      <label for="dni" class="form-label">Dni:</label>
      <input [(ngModel)]="clientes.dni" type="text" class="form-control" id="dni" formControlName="dni" required>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!this.clientesForm.valid">{{buttonText}}</button>
  </form>
</div>